body {
  background-color: rgba(8, 50, 200, 0.5);
  padding: 70px;

}
.container {
  border: 2px solid blue;
  text-align: center;
  
  height: 550px;
  width: 400px;
}
h2 {
  margin: auto;
}
.row {
  height: 90px;
  width: 396px;
  background-color :paleturquoise;
}